body {
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

header {
    background-color: #DBE1E8;
    padding: 2rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.links-container {
    display: flex;
    gap: 2rem;
}

.links-container a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.logo {
    font-size: 22px;
    color: #0460BC;
}

.active {
    font-weight:bold;
}

.card-container {
    display: flex;
}