body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

header {
  background-color: #dbe1e8;
  padding: 2rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  /* padding-left: 2.2rem; */
  /* padding-right: 2.2rem; */
}

.links-container {
  display: none;
  gap: 2rem;
  position: absolute;
  /* background-color: #fff; */
  /* top: 0; */
  /* right: 0; */
  /* width: 50%; */
  /* flex-direction: column; */
  /* align-items: end; */
  /* padding: 3rem; */
  /* box-sizing: border-box; */
  /* height: 100vh; */
}

.links-container a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.logo {
  font-size: 22px;
  color: #0460bc;
}

.active {
  font-weight: bold;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #c3ccd7;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

a:hover {
  color: #0460bc;
}

.card-container:hover {
  background: #b5c0ce;
  cursor: pointer;
}

section {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.large {
  width: 455px;
  height: 35px;
  background-color: #dbe1e8;
  border-radius: 45px;
  display: none;
}

.small {
  width: 295px;
  background-color: #dbe1e8;
  height: 35px;
  border-radius: 45px;
  display: none;
}

.card-bar-container {
  display: flex;
  gap: 1.4rem;
}

.close-svg {
  margin-bottom: 2rem;
}

.show {
  display: flex;
}
